---

---

<section id="certifications" class="py-16 px-4 container mx-auto">
  <div class="flex gap-10">
    <div class="flex flex-col gap-6 flex-[1.5]">
      <h3 class="text-sm font-medium tracking-widest uppercase text-[#8c8c8c]">
        Certifications
      </h3>

      <div class="flex flex-col gap-3">
        <div
          class="flex flex-col gap-1 border border-[#2a2a2a] rounded-lg px-4 py-3"
        >
          <div class="flex items-baseline justify-between gap-4">
            <span class="text-base text-[#F8F8F8] font-medium"
              >First Certificate in English</span
            >
            <span
              class="text-sm text-[#8c8c8c] font-light tabular-nums shrink-0"
              >Jul 2022</span
            >
          </div>
          <span class="text-sm text-[#8c8c8c] font-light italic"
            >Cambridge University Press & Assessment</span
          >
        </div>

        <div
          class="flex justify-between gap-4 border border-[#2a2a2a] rounded-lg px-4 py-3"
        >
          <div class="flex flex-col gap-0.5">
            <span class="text-base text-[#F8F8F8] font-medium"
              >Docker Foundations Professional Certificate</span
            >
            <span class="text-sm text-[#8c8c8c] font-light italic"
              >Docker, Inc</span
            >
          </div>
          <span class="text-sm text-[#8c8c8c] font-light tabular-nums shrink-0"
            >Jun 2026</span
          >
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-6 flex-1">
      <h3 class="text-sm font-medium tracking-widest uppercase text-[#8c8c8c]">
        Languages
      </h3>

      <div class="flex flex-col gap-3">
        <div
          class="flex items-center justify-between gap-4 border border-[#2a2a2a] rounded-lg px-4 py-3"
        >
          <span class="text-base text-[#F8F8F8] font-medium">Italian</span>
          <span class="text-sm text-[#8c8c8c] font-light">Native</span>
        </div>

        <div
          class="flex items-center justify-between gap-4 border border-[#2a2a2a] rounded-lg px-4 py-3"
        >
          <span class="text-base text-[#F8F8F8] font-medium">English</span>
          <span class="text-sm text-[#8c8c8c] font-light">B2</span>
        </div>
      </div>
    </div>
  </div>
</section>
