<footer id="footer" class="border-t p-6 container text-white">
  <section class="mx-auto flex h-full">
    <div
      class="flex w-full flex-col items-start justify-between gap-y-4 md:flex-row text-[#8c8c8c]"
    >
      <div
        class="font-geist-sans text-gray flex flex-row items-end justify-end gap-x-4 text-base font-light tracking-wide"
      >
        © 2026 All rights reserved
      </div>
      <p
        class="font-geist-sans text-gray text-justify text-base font-light tracking-wide"
      >
        Designed &amp; Built by <strong
          class="text-gray font-geist-sans font-semibold">Alessio Pinto</strong
        >.
      </p>
    </div>
  </section>
</footer>
