---
import SocialLink from "../components/SocialLink.astro";
import { icons } from "../data/icons";

const birthDate = new Date("2002-01-10");
const today = new Date();
let age = today.getFullYear() - birthDate.getFullYear();
const m = today.getMonth() - birthDate.getMonth();
if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
  age--;
}

const socials = [
  {
    href: "https://github.com/Bonfino",
    label: "GitHub",
    iconPath: icons.github,
  },
  {
    href: "https://www.linkedin.com/in/alessio-pinto-595465334",
    label: "LinkedIn",
    iconPath: icons.linkedin,
  },
  {
    href: "mailto:alessio.pinto02@gmail.com",
    label: "Email",
    iconPath: icons.email,
  },
  {
    href: "https://discord.com/users/212185401031524353",
    label: "Discord",
    iconPath: icons.discord,
  },
];
---

<section id="header">
  <div class="flex max-w-2xl flex-col items-start gap-4 py-16 px-4">
    <div class="flex items-center gap-4">
      <img
        src="/propic.webp"
        alt="profile picture"
        class="rounded-full size-20"
      />
      <div class="flex flex-col">
        <h1
          class="m-0 w-fit md:text-7xl text-4xl font-bold bg-[linear-gradient(135deg,#fcfc88,#95c9db,#9da7d2,#ffffff,#273054)]
            bg-[length:300%_300%] bg-clip-text text-transparent animate-[gradient-shift_20s_ease-in-out_infinite]"
        >
          Alessio Pinto
        </h1>
        <h2 class="text-2xl font-normal text-[#9f9fa9]">
          Web Developer & QA Specialist
        </h2>
      </div>
    </div>

    <p class="text-xl font-light text-[#8c8c8c] leading-relaxed mt-2">
      I'm Alessio a {age} years old
      <span class="text-[#F8F8F8]"> web developer</span> and <span class="text-[#F8F8F8]">QA Specialist</span> from Italy.
      While my professional experience is in web development and software testing, I am currently expanding my path into backend development, learning <span class="text-[#F8F8F8]">C# .NET</span> and <span class="text-[#F8F8F8]">Docker</span>.
    </p>
    <div class="flex gap-2">
      {socials.map((s) => <SocialLink {...s} />)}
    </div>
  </div>
</section>
