---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a
  href={href}
  class="hover:text-primary focus-visible:ring-primary hidden transition-colors focus-visible:rounded focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-black focus-visible:outline-none md:block"
>
  {label}
</a>
